.nav_bar_lens {
  width: 20px;
  height: 20px;
}
.hover_style {
}
.hover_style:hover {
  color: #0070d1 !important;
}
img {
  width: 100%;
}

.sony_logo {
  width: 90px;
}
header{
  display: contents;
}
header .navbar{
  position: sticky;
  top: 0;
}

/* Button */
.button_orange_red {
  background-color: #cd3d0f;
  border: none;
  padding: 5px 10px;
}

/* Jumbo Img */
.jumbo_bg-img {
  background-image: url(img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}
/* TakesTwo img */
.takes_two_img{
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 650px;
}
.width_img{
  max-width: 200px;
}
/* Border img rounded */
.img_rounded{
  overflow: hidden;
  border-radius: 20px !important;
}
/* Float up */
.float-on-hover {    
  transition-duration: 0.4s;     
  transition-timing-function: ease-out;  
}
.float-on-hover:hover {  
  transform: translateY(-20px);  
}
/* Opacity */
.opacity{
  opacity: 0.7;
}
.opacity:hover{
  opacity: 1;
  transition-duration: 0.3s;     
  transition-timing-function: ease;  
}
/* Active */
.active:active{
  border-bottom: 2px solid #0B5ED7;
}
/* Hover scale */
.hover_scale:hover{
  transform: scale(1.05);
  transition-duration: 0.3s;     
  transition-timing-function: ease;  
}

/* bg-section 7 */
.bg-section7{
  background-color: #C1BDBC;
}
/* bg-section9 */
.bg-section9{
  background-color: #0D1533;
}
/* Footer */
.bg-footer{
  background-color: #00439C;
}